<!--<div class="sidebar" data-color="red">-->
<!--<div class="logo">-->
<!--<div class="navbar-minimize">-->
<!--<button-->
<!--id="minimizeSidebar"-->
<!--class="btn btn-simple btn-icon btn-neutral btn-round"-->
<!--(click)="minimizeSidebar()"-->
<!--&gt;-->
<!--<i-->
<!--class="now-ui-icons text_align-center visible-on-sidebar-regular"-->
<!--&gt;</i>-->
<!--<i-->
<!--class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"-->
<!--&gt;</i>-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
