.email_verify .card-header>img {
    filter: invert(1);
    border: 2px solid #f96332;
}
.ml-auto {
    /* above styles */
    animation: animation-name 1.9s ease-out forwards;
}

@keyframes animation-name {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}