.reset-password .card-header>img {
    filter: invert(1);
    border: 2px solid #f96332;
}
.reset-password .card-footer .pull-left {
    text-align: center;
    width: 100%;
}
.reset-password .card-footer .pull-left a {
    color: #f96332;
    cursor: pointer;
}

.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 29px!important;
    border-bottom-right-radius: 29px!important;
}