<div class="main-content reset-password">
    <div class="container">
        <div class="col-md-4 ml-auto mr-auto">
            <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
                <div class="card card-lock text-center">
                    <div class="card-header ">
                        <img src="assets/img/now-logo.png" alt="..." />
                    </div>
                    <div class="card-body ">
                        <h4 class="card-title">Reset Password</h4>
                        <p>Enter a new password. After you click on "Reset password", it is immediately valid.</p>
                        <div
                                class="input-group"
                                [ngClass]="{ 'input-group-focus': focus3 === true }"
                        >
                            <!--<div class="input-group-prepend">-->
                            <!--<div class="input-group-text">-->
                            <!--<i class="now-ui-icons objects_key-25"></i>-->
                            <!--</div>-->
                            <!--</div>-->
                            <input
                                    type="password"
                                    class="form-control"
                                    placeholder="Password"
                                    (focus)="focus3 = true"
                                    (blur)="focus3 = false"
                                    formControlName="password"
                                    [ngClass]="{'is-invalid': submitted && f.password.errors}"
                            />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div
                                class="input-group"
                                [ngClass]="{ 'input-group-focus': focus4 === true }"
                        >
                            <!--<div class="input-group-prepend">-->
                            <!--<div class="input-group-text">-->
                            <!--<i class="now-ui-icons ui-1_lock-circle-open"></i>-->
                            <!--</div>-->
                            <!--</div>-->
                            <input
                                    type="password"
                                    class="form-control"
                                    placeholder="Repeat Password"
                                    (focus)="focus4 = true"
                                    (blur)="focus4 = false"
                                    formControlName="confirmPassword"
                                    [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}"
                            />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Reset Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Password must match</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <button type="submit" href="#pablo" class="btn btn-primary btn-round btn-lg">Reset Password</button>
                        <br><br>
                        <div class="pull-left">
                            <p>Cancel and
                                <a (click)="user_login()" class="link footer-link">Go Back</a>
                            </p>
                        </div>
                        <div class="pull-right">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
